<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="${contextPath}">Home</a>
            </li>
            <li>
                <a href="${contextPath}/users">Users</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" onclick="logout.submit();">Logout</a>
            </li>
        </ul>
        <form name="logout" action="${contextPath}/logout" method="POST">
            <sec:csrfInput/>
        </form>
    </div>
</nav>
